@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Axiforma";
  src: url("/dist/assets/fonts/Axiforma-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Axiforma";
  src: url("/dist/assets/fonts/Axiforma-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Axiforma";
  src: url("/dist/assets/fonts/Axiforma-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("/dist/assets/fonts/Axiforma-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Axiforma";
  src: url("/dist/assets/fonts/Axiforma-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  @apply transition duration-500 delay-200 ease-in-out;
}

.navLink {
  @apply w-fit py-3 md:py-3 px-4 md:px-3 font-Axiforma text-base text-white hover:text-secondary-500 transition-all duration-500 delay-100 ease-in-out;
}
.navLink.active {
  @apply after:content-['']  after:absolute after:w-full after:h-1 after:bg-secondary-500 after:right-0 after:bottom-[-10px] after:rounded-t-sm relative;
}

.footerLink {
  @apply text-sm font-Axiforma leading-6 text-accent hover:text-secondary-500 hover:ps-5 transition-all duration-500 delay-100 ease-in-out after:content-[''] after:absolute after:w-4 after:h-[2px] after:bg-secondary-500 after:rounded-xl after:left-[-20px] hover:after:left-0 after:bottom-1/2 relative after:transition-[left] after:duration-500 after:delay-100 after:ease-in-out;
}

.leading-15 {
  @apply leading-[4rem] !important;
}

.portals-btn {
  @apply inline-block rounded-2xl bg-secondary-500 px-6 py-3 text-base font-semibold text-white shadow-sm hover:bg-secondary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-500 transition-all duration-300 delay-75 ease-in-out;
}

.portals-secondary-btn {
  @apply inline-block rounded-2xl bg-secondary-500 bg-opacity-20 px-6 py-3 text-base font-semibold text-secondary-600 shadow-sm hover:bg-secondary-600 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-500 transition-all duration-300 delay-75 ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo {
  opacity: 0;
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

.services-section > div {
  opacity: 0;
}

.projects-items > div {
  opacity: 0;
}

.projects-section > div {
  opacity: 0;
}
